<form [formGroup]="tasksForm">
  <mat-card class="shipping-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Create Task</mat-card-title>
      <br />
      <br />
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Title" formControlName="title" />
            @if (tasksForm.controls['title'].hasError('required')) {
              <mat-error>Title is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <textarea
              matInput
              placeholder="Description"
              formControlName="description"></textarea>
            <!-- @if (tasksForm.controls['description'].hasError('required')) {
              <mat-error>Description is <strong>required</strong></mat-error>
            } -->
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Due date</mat-label>
            <input
              matInput
              [min]="minDate"
              [matDatepicker]="picker"
              placeholder="MM/DD/YYYY"
              formControlName="dueDate" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <!-- Object.entries(GoalProgressMeasurement) -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-select placeholder="Priority" formControlName="priority">
              <mat-option value="Low">Low</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="High">High</mat-option>
            </mat-select>
            <!-- @if (tasksForm.controls['priority'].hasError('required')) {
              <mat-error>State is <strong>required</strong></mat-error>
            } -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Status :
          <mat-radio-group formControlName="status">
            <mat-radio-button value="Completed">Completed</mat-radio-button>
            <mat-radio-button value="Pending">Pending</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        [disabled]="(isLoading | async) || tasksForm.invalid"
        (click)="onSubmit()"
        color="primary"
        type="submit">
        <span>
          @if (isLoading | async) {
            <mat-spinner [diameter]="20"></mat-spinner>
          } @else {
            Submit
          }
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
